<script lang="ts">
    export let className: string = "";
    export let content: string;
    export let type:string = "button";
</script>
<button on:click class={className} type={type}>{content}</button>