<script lang="ts">
  import { fade, slide } from "svelte/transition";
  //replace this with the mod type when implemented
  export let mod: { name: string; version?: string };
</script>

<li in:fade out:slide class="list-item">
  <b>{mod.name}</b> for Minecraft version
  {mod.version ? `${mod.version}` : "Unknown"}
</li>

<style>
  .list-item {
    margin: 1rem 0 1rem 0;
  }
</style>
