<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import Button from "./Button.svelte";
  import ModDatalist from "./ModDatalist.svelte";
  import VersionDatalist from "./VersionDatalist.svelte";

  const dispatch = createEventDispatcher();

  let mod = { name: "", version: "" };
</script>

<form
  on:submit|preventDefault={() => dispatch("addmod", mod)}
  class="list-controls"
>
  <div class="upper-controls">
    <Button on:click={()=> dispatch("clearlist")} content="Clear List"/>
      <Button content="Nothing" />
  </div>
  <div class="lower-controls">
    <span class="lower-controls-label">New Mod</span>
    <ModDatalist bind:value={mod.name} />
    <VersionDatalist slug={mod.name} bind:value={mod.version} />
    <Button className="lower-controls-button" type="submit" content="Add Mod" />
  </div>
</form>

<style global>
  .list-controls {
    width: screen;
    margin-bottom: 0;
  }
  @media screen and (max-width: 880px) {
    .lower-controls {
      flex-wrap: wrap;
    }
    .lower-controls-label {
      flex: 1 1 10% !important;
    }
    .lower-controls-button {
      flex: 0 0 100% !important;
    }
    .lower-controls-inputs-name {
      flex: 1 1 45% !important;
    }
    .lower-controls-inputs-version {
      flex: 1 1 10% !important;
    }
    .list-controls {
      height: 6rem !important;
    }
  }
  @media screen and (max-width: 635px) {
    .lower-controls {
      flex-wrap: wrap;
    }
    .lower-controls-label {
      flex: 0 1 15% !important;
      text-align: center;
    }
    .lower-controls-button {
      flex: 1 1 20% !important;
    }
    .lower-controls-inputs-name {
      flex: 1 1 70% !important;
    }
    .lower-controls-inputs-version {
      flex: 1 1 10% !important;
    }
    .list-controls {
      height: 8rem !important;
    }
  }
  .upper-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .lower-controls {
    display: flex;
    margin-top: 0.5rem;
    gap: 2rem;
    row-gap: 1rem;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
  }
  .lower-controls-inputs-name {
    flex: 1 1 65%;
  }
  .lower-controls-inputs-version {
    flex: 1 1 10%;
  }
  .lower-controls-button {
    flex: 1 1 10%;
  }
  .lower-controls-label {
    flex: 1 1 10%;
  }
</style>
