<script lang="ts">
  import { findMods } from "../../utils";
  export let value: string = "";
</script>

<datalist id="list">
  {#await findMods(value)}
    <option disabled>Loading...</option>
  {:then mods}
    {#each mods as mod}
      <option>{mod.slug}</option>
    {/each}
  {:catch err}
    <option disabled>Error: {err}</option>
  {/await}
</datalist>
<input
  type="text"
  bind:value
  list="list"
  class="lower-controls-inputs-name"
  placeholder="mod-name"
/>
