<script lang="ts">
  import { getVersionsBySlug } from "../../utils";
  export let slug: string;
  export let value: string;
</script>

<datalist id="list2">
  {#await getVersionsBySlug(slug)}
    <option disabled>Loading...</option>
  {:then versions}
    {#each versions as version}
      <option>{version}</option>
    {/each}
  {:catch err}
    <option disabled>Error: {err}</option>
  {/await}
</datalist>
<input
  bind:value
  list="list2"
  class="lower-controls-inputs-version"
  pattern="\d+\.\d+(\.(?=\d)\d*)?"
  title="Minecraft version must be n.n.n"
  placeholder="1.x.x"
  type="text"
/>
