<script type="ts">
  import ModDatalist from "./lib/components/list/ModDatalist.svelte";
  import VersionDatalist from "./lib/components/list/VersionDatalist.svelte";
  import ModList from "./lib/components/ModList.svelte";
</script>

<svelte:head>
  <title>Minecraft Mod List</title>
</svelte:head>

<main>
  <ModList />
</main>
