<script type="ts">
  import ListItem from "./list/ListItem.svelte";
  import ListControls from "./list/ListControls.svelte";

  import { slide } from "svelte/transition";

  let list: Array<{ id: number; name: string; version: string }> = [];
</script>

<div class="mod-list">
  <ListControls
    on:addmod={(mod) => {
      list.push({ id: Math.random(), ...mod.detail });
      list = list;
    }}
    on:clearlist={() => (list = [])}
  />
  <h1 class="mod-list-heading">Mods</h1>
  <ul class="list">
    {#each list as mod}
      <ListItem {mod} />
    {:else}
      <li transition:slide>
        No mods added yet. Use the list's controls to add a new one!
      </li>
    {/each}
  </ul>
</div>

<style>
  .mod-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mod-list-heading {
    text-align: center;
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
</style>
